@font-face {
	font-family: 'iconfont';
	/* project id 319685 */
	src: url('//at.alicdn.com/t/font_yfuhgkjmhj3ba9k9.eot');
	src: url('//at.alicdn.com/t/font_yfuhgkjmhj3ba9k9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_yfuhgkjmhj3ba9k9.woff') format('woff'), url('//at.alicdn.com/t/font_yfuhgkjmhj3ba9k9.ttf') format('truetype'), url('//at.alicdn.com/t/font_yfuhgkjmhj3ba9k9.svg#iconfont') format('svg');
}

.iconfont {
	margin-right: 5px;
	font-family: "iconfont" !important;
	font-size: 28px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jihua:before {
	content: "\e600";
}

.icon-yuanjing:before {
	content: "\e601";
}

.icon-kefu:before {
	content: "\e602";
}

.icon-erweima:before {
	content: "\e603";
	margin-top: -10px;
	top: -25%;
	left: 22%;
	position: relative;
}

.icon-dianhua:before {
	content: "\e607";
	color: #FFFFFF;
	font-size: 16px;
	float: right;
	position: relative;
	right: 205px;
}

.icon-shang:before {
	content: "\e609";
	margin-top: -10px;
	top: -15%;
	left: 20%;
	position: relative;
}

.icon-lianxiwomen:before {
	content: "\e638";
}

.icon-0086:before {
	content: "\e616";
	margin-top: -10px;
	top: -25%;
	left: 22%;
	position: relative;
}

.icon-guanyuwomen:before {
	content: "\e658";
}

.icon-2:before {
	content: "\e604";
	margin-top: -10px;
	top: -10%;
	left: 10%;
	position: relative;
}

.icon-shouyeshouye:before {
	content: "\e605";
}

.icon-zhusu:before {
	content: "\e631";
}

.icon-dingwei:before {
	color: #FFFFFF;
	font-size: 55px;
	content: "\e606";
	margin-left: 33px;
    position: relative;
    top: 28px;
}

.icon-gexingxuqiu:before {
	color: #FFFFFF;
	font-size: 55px;
	content: "\e608";
	margin-left: 33px;
    position: relative;
    top: 28px;
}

.icon-chanpingongneng:before {
	color: #FFFFFF;
	font-size: 55px;
	content: "\e633";
	margin-left: 33px;
    position: relative;
    top: 28px;
}

