* {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}

ol,
ul {
	list-style: none;
}

.top {
	width: 100%;
	min-width: 960px;
	height: 45px;
	line-height: 45px;
	background-color: #282828;
	margin: 0 auto;
}

.top-content {
	width: 960px;
	margin: 0 auto;
	height: 45px;
}

.welcome {
	color: #fff;
	font-size: 14px;
	float: left;
}

.phone {
	color: #fff;
	font-size: 14px;
	float: right;
}

.top-img,
.index-img-one,
.index-img-two,
.index-img-three {
	min-width: 960px;
}

.top-img img,
.index-img-one img,
.index-img-two img {
	display: block;
	margin: 0 auto;
}

.index-img-one,
.index-img-three {
	position: relative;
}

.one-content {
	position: absolute;
	left: 17%;
	top: 0;
	width: 960px;
}

.three-content {
	position: absolute;
	left: 17%;
	top: 0;
	padding-top: 18px;
	width: 960px;
}

.nav {
	margin: 0 auto;
	padding: 20px;
	width: 960px;
	height: 35px;
}

.nav ul li {
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0 18px;
	position: relative;
	border-radius: 4px;
}

.nav ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}

.nav ul li a:hover {
	color: #FE9B00;
}

.about-us {
	width: 100%;
	height: 450px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.2);
}

.about-content {
	float: left;
	width: 300px;
	height: 300px;
	margin-top: 20px;
}

.about-wz {
	text-align: center;
	margin: 10px 0 20px 0;
}

.about-jj {
	text-align: center;
	width: 250px;
	margin: 0 auto;
}

.about-us>p {
	font-size: 26px;
	text-align: center;
	padding: 20px;
}

.index-img-bottom {
	background-size: 100%;
	background-image: url(../images/林州太行写生基地2_02.gif);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-width: 1200px;
	height: 620px;
}

.scenery {
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
}

.scenery-wrap {
	text-align: center;
}

.scenery-con {
	color: #FFFFFF;
	background-color: #FE9B00;
	width: 220px;
	height: 280px;
	float: left;
	margin-right: 10px;
}

.scenery-con img {
	width: 220px;
	height: 200px;
}

.scenery-con p {
	margin-top: 10px
}

.scenery>p {
	font-size: 26px;
	text-align: center;
	padding: 20px;
}

.environment {
	width: 100%;
	height: 820px;
	margin: 0 auto;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
}

.environment>p {
	font-size: 26px;
	text-align: center;
	padding: 20px;
}

.environment-div {
	text-align: center;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.environment-wrap {
	width: 100%;
	height: 600px;
	text-align: center;
}

.environment-wrap ul {
	margin-top: 30px;
}

.environment-wrap ul li {
	display: inline;
	padding-right: 8px;
}

.environment-wrap ul li>img {
	width: 220px;
	height: 200px;
	margin-bottom: 20px;
}

.bottom {
	height: 80px;
	background-color: #282828;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 960px;
}

.bottom>p {
	font-size: 14px;
	color: #fff;
	text-align: center;
	padding: 3px;
}

.bottom a {
	color: #efb722;
	text-decoration: none;
	margin-right: 5px;
}