.content {
    position: absolute;
    top: 0;
    width: 100%;
}
.plan {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: 960px;
    height: 480px;
}
.plan>p {
    font-size: 26px;
    text-align: center;
    padding: 20px;
}
.plan-c {
	width: 935px;
	margin: 0 auto;
}
.plan-c>p {
	font-size: 18px;
	margin: 20px;
}
.text {
	font-size: 18px;
}
