.content {
	position: absolute;
	top: 0;
	width: 100%;
}

.ysmj {
	width: 100%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.2);
	width: 960px;
	height: 950px;
}

.ysmj>p {
	font-size: 26px;
	text-align: center;
	padding: 20px;
}

.ysmj-c {
	width: 1200px;
	margin: 0 auto;
}

.ysmj-c>p {
	font-size: 18px;
	margin: 20px;
}

.text {
	font-size: 18px;
}

.rmgz {
	margin-left: 20px;
	height: 316px;
	width: 360px;
	float: left;
	border: 1px solid;
	border-top: 3px solid #FE9B00;
}

.mj-name {
	height: 100px;
}

.mj-name a {
	text-decoration: none;
	color: #000000;
}

.mj-name p {
	padding: 5px;
}

.mj-name img {
	float: left;
	margin-right: 15px;
	margin-left: 10px;
}

.ysmj-wrap {
	text-align: center;
}

.ysmj-con {
	color: #FFFFFF;
	width: 227px;
	height: 190px;
	float: left;
}

.ysmj-con img {
	width: 218px;
	height: 180px;
}

.d3 {
	width: 220px;
	float: right;
	margin-right: 38px;
	background-color: rgba(249, 240, 218, 0.2)
}

.d3 input,
.d3 button {
	border: none;
	outline: none;
	background: transparent;
}

.d3 input {
	width: 165px;
	height: 32px;
	padding-left: 15px;
}

.d3 button {
	height: 32px;
	width: 32px;
	/*position: absolute;
	top: 150px;
	right: 313px;*/
	cursor: pointer;
}

.d3 button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 20px;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #000;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #000;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #000;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #000;
}